<div class="formulaire">
  <form methode="POST" action="../server/script.php" class="formulaire__movie">
    <label for="formulaire__champ">Titre Film</label>
    <input
      class="formulaire__champ"
      type="text"
      name="titre"
      placeholder="entrez le titre du film*"
      required
    />
    <label for="formulaire__champ">Réalisateur</label>
    <input
      class="formulaire__champ"
      type="text"
      name="realisateur"
      placeholder="Nom du Réalisateur*"
      required
    />
    <label for="formulaire__champ">Année de Parution</label>
    <input
      class="formulaire__champ"
      type="int"
      name="annee"
      placeholder="année de sortie"
      required
    />
    <label for="formulaire__champ">Durée en Minutes</label>
    <input
      class="formulaire__champ"
      type="number"
      name="duree"
      placeholder="indiquez la durée du film*"
      required
    />
    <label for="formulaire__champ">Synopsis</label>
    <input
      class="formulaire__champ"
      type="text"
      name="description"
      placeholder="entrez le synopsis du film*"
      required
    />
    <label for="categorie">Genre</label>
    <select name="categorie" required>
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Science-Fiction</option>
      <option value="5">Animation</option>
      <option value="6">Thriller</option>
      <option value="7">Horreur</option>
      <option value="8">Aventure</option>
      <option value="9">Fantaisie</option>
      <option value="10">Documentaire</option>
      <option value="11">Comédie-Musicale</option>
    </select>
    <label for="formulaire__champ">Affiche</label>
    <input
      class="formulaire__champ"
      type="text"
      name="cover"
      placeholder="entrez le chemin d'accés de l'affiche*"
      required
    />
    <label for="formulaire__champ">Trailer</label>
    <input
      class="formulaire__champ"
      type="text"
      name="trailer"
      placeholder="entrez l'url du trailer*"
    />
    <label for="restriction">Restriction D'Âge</label>
    <select name="age_min" required>
      <option value="1">0</option>
      <option value="2">7</option>
      <option value="3">10</option>
      <option value="4">12</option>
      <option value="5">16</option>
      <option value="6">18</option>
    </select>
    <input class="addmovie__btn" type="hidden" value="addmovies" name="todo" />
    <input type="submit" value="Ajouter" />
  </form>
</div>
