<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="C.handleHomeClick()">Home</li>
  </ul>
  <ul class="navbar__auth">
    <li class="navbar__item" onclick="{{handlerLogOut}}">Déconnexion</li>
    <li class="navbar__item navbar__profile-container">
      <img
        id="current-avatar"
        src=""
        alt=""
        style="
          display: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 8px;
        "
      />

      <select
        name="id"
        class="profiles"
        onchange="{{handlerSelect}}(this.value)"
      >
        <option value="">--SELECTIONNER UN PROFIL--</option>
        {{profiles}}
      </select>
    </li>
  </ul>
</nav>
